# for docker compose with supabase
/volumes
/supabase/volumes/db/data/

target/
**/target/

.settings
.project
.classpath

.idea
*.iml

.vscode

*.vim
*.log

metals.sbt
.metals
.bloop
.bsp

sbt-launch.jar
.lightbend-commercial-credentials-token
lightbend.sbt

**/cinnamon-prometheus-docker-sandbox-*

.DS_Store
!/modules/prototype/src/main/go/vendor/
/modules/prototype/src/main/go/pkg/

node_modules
flight-recordings

**/*.wasm
